<div class="message" id="message-<%=message.id%>" data-senderId="<%= message.user_id %>" >
  <small><%= message.user.firstname %></small>
  <div class="msg-content">
    <h6> <%= message.content %> </h6>
  </div>
</div>
